body{
    margin: 0;
    padding: 0;
}
#formWrapper{
    width: 100%;
    background-color: lightgrey;
}
.row{
    margin-top: 10px !important;
}
.academic-qualifications input[type="text"]{
    display: inline;
    max-width: 24.7%;
    box-sizing: border-box;
    float: left;
}
.certifications input[type="text"]{
    display: inline;
    max-width: 33%;
    float: left;
    box-sizing: border-box;
}
p{
    margin-left: 50px;
}
table{
    margin-left: 50px;
    width: 80%;
}
table tr,td{
    padding: 10px;
}
table thead{
    background-color: lightgray;
}

#cvWrapper{
    display: none;
}